:root {

    --text-color: #000;
  
    --background-color: #eeeeee;
  
  }
  
  
  
  @media (prefers-color-scheme: dark) {
  
    :root {
  
      --text-color: #fff
      --background-color: #000;
  
    }
  
  }
body{
    background-color: var(--background-color);
    color: var(--text-color);
}
.header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}